[Unit]
Description=Odoo OCA France
After=network.target

[Service]
Type=simple
WorkingDirectory={{ working_directory }}
ExecStartPre=uv sync --locked --check
ExecStartPre={{ working_directory }}/.venv/bin/click-odoo-update -c {{ config_path }}
ExecStart={{ working_directory }}/.venv/bin/odoo -c {{ config_path }}
Restart=always
User={{ user_name }}
Group={{ user_name }}

[Install]
WantedBy=multi-user.target
